[data-todo-filter] {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: var(--clr-todo-filter-bg);
}

.filter-option {
  display: flex;
  position: relative;
}

.filter-option > input[type='radio'] {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
}

.filter-option > label {
  color: var(--clr-todo-filter-inactive);
  font-size: 0.9rem;
  font-weight: var(--fw-josefin-sans-700);
  cursor: pointer;
  padding: 0.2em 0.15em 0;
  border-radius: var(--radius-outline);
}

.filter-option > input[type='radio']:focus + label {
  outline: 1px solid var(--clr-todo-filter-inactive-hover);
  outline-offset: 0.2rem;
}

@supports selector(:focus-visible) {
  .filter-option > input[type='radio']:focus + label {
    outline: none;
    outline-offset: none;
  }
}

.filter-option > input[type='radio']:focus-visible + label {
  outline: 1px solid var(--clr-todo-filter-inactive-hover);
  outline-offset: 0.2rem;
}

.filter-option > input[type='radio']:checked + label {
  color: var(--clr-todo-filter-active);
}

.filter-option > input[type='radio']:not(:checked):focus + label,
.filter-option > input[type='radio']:not(:checked) + label:hover {
  color: var(--clr-todo-filter-inactive-hover);
}

@media only screen and (min-width: 786px) {
  [data-todo-filter] {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: var(--clr-todo-filter-bg);
    border-radius: var(--radius-todo);
  }
}
